@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
}

header {
    max-width: 100vw;
    height: 560px;
    background-color: #d7d4ff;
    padding: 77px 7.22vw 77px 7.22vw;
    display: flex;
    justify-content: space-between;
}

header section {
    width: 50%;
}

h1 {
    margin-top: 60.5px;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    max-width: 27.014vw;
    color: #2b2b2b;
}

h3 {
    margin-top: 17.5px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #555555;
    max-width: 27.014vw;
}

button {
    margin-top: 45px;
    border: 0;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #6c63ff;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    height: 50px;
    width: 10.764vw;
}

header img {
    width: 37.72vw;
}

main {
    max-width: 100vw;
    padding: 150px 7.22vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 111px;
    row-gap: 68px;
}

.wrapper {
    width: 340px;
    height: 423px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.wrapper img {
    width: 340px;

}

section {
    height: 50px;
    padding: 24px 28px 31px 30px;
}

h2 {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #2b2b2b;
}

p {
    margin-top: 26px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
}

footer {
    width: 100%;
    background-color: #d7d4ff;
    height: 700px;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    max-width: 32.64vw;
    display: flex;
    flex-direction: column;
}

footer h1 {
    display: inline-block;
    margin-top: 85px;
    margin-bottom: 45px;
    margin-inline: auto;
}

footer input {
    height: 60px;
    width: 32.64vw;
    background: #ffffff;
    border-radius: 5px;
    border: 0;
    color: #6e7275bd;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    padding: 20px 20px 18px 11.91px;
}

textarea {
    margin-top: 20px;
    height: 150px;
    width: 32.64vw;
    background: #ffffff;
    border-radius: 5px;
    border: 0;
    color: #6e7275bd;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 20px 18px 11.91px;
}

input::placeholder {
    position: absolute;
}

footer button {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    height: 50px;
}